
# Environment variables defined here will be available to your application.
# NOTE: comments below are for elixir...TODO: update comments for gleam
# RELEASE_COOKIE="generate with Base.url_encode64(:crypto.strong_rand_bytes(40))"
# DATABASE_URL="ecto://username:password@host/database"
