# Extras that are not part of .gitignore
.git/
# Having Dockerfile in .dockerignore lets us develop docker images without full rebuild on each change
Dockerfile
# Justfile is not needed in the image
justfile
# Remove self from the image too
.dockerignore

#### COPIED FROM .gitignore ####
.DS_Store
/target/
**/*.rs.bk
.idea/

pg_data/
config.yml
tests/output/
tests/expected/
