# Extras that are not part of .gitignore
.git/
# Having Dockerfile in .dockerignore lets us develop docker images without full rebuild on each change
Dockerfile
# Justfile is not needed in the image
justfile
# Remove self from the image too
.dockerignore
# Unneeded code
**/tests
demo/

####
#### This must match .gitignore ####
####

**/*.rs.bk
**/dist/
**/node_modules/
*.profraw
.DS_Store
.aider*
.aws-sam/
.idea/
.vscode/
config.yml
pg_data/
target/
test_log*
tests/mbtiles_temp_files/
tests/output/
tmp/

####
#### Above content must match .gitignore ####
####
