####
#### This must match .dockerignore ####
**/*.rs.bk
**/dist/
**/node_modules/
*.profraw
.DS_Store
.aider*
.aws-sam/
.idea/
.vscode/
config.yml
pg_data/
target/
test_log*
tests/mbtiles_temp_files/
tests/output/
tmp/

####
#### Above content must match .dockerignore ####
####
