####
#### This must match .dockerignore ####
####

**/*.rs.bk
**/dist/
**/node_modules/
*.profraw
.aider*
.aws-sam/
.DS_Store
.env.local
.idea/
.vscode/
cache.sqlite*
config.yml
coverage
pg_data/
target/
test_log*
tests/mbtiles_temp_files/
tests/output/
tmp/
tsconfig.tsbuildinfo

####
#### Above content must match .dockerignore ####
####
