# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# exclusions should be separated with a pipe (|) character and a newline
exclude: |
  (?x)^(
      tests/expected/.*
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
        exclude: '.+/tsconfig.json'
      - id: check-shebang-scripts-are-executable
        exclude: '.+\.rs' # would be triggered by #![some_attribute]
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [ --allow-multiple-documents ]
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [ --fix=lf ]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt
        name: Rust Format
        description: "Automatically format Rust code with cargo fmt"
        entry: sh -c "cargo fmt --all"
        language: rust
        pass_filenames: false

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.1
    hooks:
      - id: sqlfluff-fix
        # AL07: Avoid table aliases in from clauses and join conditions <- we sometimes do this for long names
        # LT05: Line is too long <- not useful. mostly triggers for comments
        # LT12: Files must end with a single trailing newline <- already done by trailing-whitespace
        args: [--dialect=postgres, "--exclude-rules=AL07,LT05,LT12"]
        files: \.sql$

# TODO: Add NPM hooks for formatting and linting
