[package]
name = "martin-core"
version = "0.1.0"
authors = ["Yuri Astrakhan <YuriAstrakhan@gmail.com>", "MapLibre contributors"]
description = "Basic building blocks of MapLibre's Martin tile server."
keywords = ["maps", "tiles", "mvt", "tileserver"]
categories = ["science::geo", "parsing"]
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
homepage.workspace = true

[features]
default = ["fonts"]
fonts = [
    "dep:bit-set",
    "dep:pbf_font_tools",
    "dep:regex",
    "dep:itertools",
    "dep:dashmap",
    "dep:thiserror",
]
sprites = [
    "dep:spreet",
    "dep:tokio",
    "tokio/fs",
    "dep:futures",
    "dep:dashmap",
    "dep:thiserror",
]

[dependencies]
async-trait.workspace = true
bit-set = { workspace = true, optional = true }
dashmap = { workspace = true, optional = true }
futures = { workspace = true, optional = true }
itertools = { workspace = true, optional = true }
log.workspace = true
martin-tile-utils.workspace = true
pbf_font_tools = { workspace = true, optional = true }
regex = { workspace = true, optional = true }
serde.workspace = true
serde_with.workspace = true
spreet = { workspace = true, optional = true }
subst.workspace = true
thiserror = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }

[dev-dependencies]
insta = { workspace = true, features = ["json", "yaml"] }

[lints]
workspace = true
