.tile-sets-list {
  width: 100%;
  height: 100%;
}
.tile-sets-list-header {
  font-size: 20px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: 1.25px;
  margin-bottom: 14px;
  text-align: center;
  width: 100%;
}

.remove-tile-set-button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0;
  cursor: pointer;
}

.remove-tile-set-button :hover {
  color: rgb(210, 39, 39);
}
