
.martin_items {
  display: flex;
  flex-direction: column;
  width: 100%;
 
}

.feature {
  display: flex;
  flex-direction: column; 
  
  border: 7px solid #7300FF;
  width: 350px;
  height: 450px;
}

.feature-description{
  display: flex;
  transform: translate(-125px, -80px);
  
  font-size: 45px;
  line-height: 55px;
  font-weight: bold;
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
  text-transform: uppercase;
}

h2{
  display: flex;
  justify-items: baseline;
  margin: 0;
  width:450px;
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
  font-weight: normal;
}

.try-it {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px 100px 40px 100px;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  color: white;
} 

.map {
  display: flex;
  height: 600px;
  background-color: #7300FF;
}


.development {
  display: flex;
  flex-direction: column;
  margin: 120px 100px;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  color: white;
}


.git-button{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: normal;
  background-color: rgba(0,0,0,0);
  border: solid 1px #ffffff;
  color:  #ffffff;
  text-decoration: none;
}

.git-button:hover{
  background-color: #1C1C30;
  box-shadow: 3px 3px 0 rgba(115, 0, 255, 1);
  border-color: #1C1C30;
}

.footer {
  display: flex;
  align-items: center;
  
  justify-content: flex-end;
  height: 70px;
  background-color: #171727;
  color: white;
  font-size: 16px;
}

.footerdescription {
  margin-top: 10px;
  padding: 6px;
  color: #9fa3b2;
} 

.footerarrow {
  padding: 4px 25px 0px 8px;
}


