.description {
  max-width: 673px;
  margin: auto auto 76px;
  font-size: 24px;
  font-weight: bold;
  line-height: 2.08;
  text-align: center;
  color: #949ab3;
}

.feature {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  text-transform: uppercase;
  color: #d2d7eb;
}

.feature-description {
  max-width: 550px;
  margin: auto auto 34px;
  font-size: 20px;
  text-align: center;
  color: #949ab3;
}

.try-it {
  max-width: 562px;
  margin: 90px auto 40px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.04;
  text-align: center;
  color: #949ab3;
}

.development {
  max-width: 723px;
  margin: auto auto 20px;
  font-size: 30px;
  line-height: 1.33;
  text-align: center;
  color: #949ab3;
}

.get-started {
  display: flex;
  justify-content: space-between;
  width: 230px;
  padding: 6px 15px;
  border-radius: 5px;
  margin: auto auto 139px;
  background-color: #171727;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-weight: bold;
  color: #c0c4d4;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 137px;
  padding: 30px 0;
  background-color: #171727;
}
