.intro {
  
  height: 800px;
  background: url("logo_martin.svg") no-repeat;
  background-size: contain;
  display: flex;
  
  justify-content: flex-end;
  
  
}
/* .martin-logo{
  width: 1091px; 
  height: 800px;
  background: url("logo_martin.svg") no-repeat;
  background-size: contain;
  align-items: flex-start;
} */

.introblock {
  align-self: center;
  flex-direction: column; 
}

.martin {
  
  margin-top: -10px;
  font-size: 5.5rem;
  font-weight: bold;
  letter-spacing: 12px;
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
  text-transform: uppercase;
  font-family: 'VremanaGrotesk',sans-serif;
  
}

.slogan {
  width: 500px;
  font-size: 1.75rem;
  font-weight: normal;
  color: #ffffff;
}

.gitbutton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 6px 15px;
  margin-top: 4rem;
  font-size: 20px;
  font-weight: normal;
  background-color: rgba(0,0,0,0);
  border: solid 1px #ffffff;
  color:  #ffffff;
  text-decoration: none;
}

.gitbutton:hover{
  background-color: #0E0E1E;
  box-shadow: 4px 4px 0px rgba(115, 0, 255, 1);
  border-color: #0E0E1E;
}


