.intro {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url("logo_martin.svg") no-repeat;
  background-size: contain;
}

.introblock {
  flex-direction: column; 
  align-self: center;
  padding-left: 50%; 
}

.martin {
  margin-top: 150px;
  font-family: VremenaGroteskBold, sans-serif;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 15px;
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
  text-transform: uppercase;
}

.slogan {
  margin-top: 45px;
  margin-bottom: 80px;
  font-size: 35px;
  line-height: 50px;
  font-weight: normal;
  color: #ffffff;
}

.gitbutton{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 200px;
  height: 50px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: normal;
  background-color: rgba(0,0,0,0);
  border: solid 1px #ffffff;
  color:  #ffffff;
  text-decoration: none;
}

.gitbutton:hover{
  background-color: #0E0E1E;
  box-shadow: 3px 3px 0px rgba(115, 0, 255, 1);
  border-color: #0E0E1E;
}


