services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - tiles
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/ssl/certs

  tiles:
    image: ghcr.io/maplibre/martin:1.3.0
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://postgres@db/db
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: wget --spider http://0.0.0.0:3000/health || exit 1
      retries: 10
      interval: 1s
      start_period: 1s
      start_interval: 500ms

  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./db/db:/var/lib/postgresql/data
      - ./db/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}" ]
      retries: 5
      interval: 10s
      start_interval: 500ms
      start_period: 20s
