name: autofix.ci # See https://autofix.ci/security why this name

on:
  pull_request:
    types: [labeled]

permissions:
  contents: write
  pull-requests: write

jobs:
  bless:
    name: Bless test output
    runs-on: ubuntu-latest
    if: contains(github.event.label.name, 'bless')

    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { persist-credentials: false }
      - uses: BRAINSia/free-disk-space@f9f59b0ef974ff4b873aa243ce5278ab644eedc6 # v2.1.2
        with:
          tool-cache: false
          mandb:   false
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: false
          swap-storage: true
      - name: Setup Rust
        run: rustup update stable && rustup default stable

      - name: Install just
        uses: taiki-e/install-action@cc33365ec7e3350bc47bf935f247582cc6f68344 # v2.65.12
        with:
          tool: just,cargo-binstall

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0

      - name: Install frontend dependencies
        run: npm install-clean --no-fund
        working-directory: martin/martin-ui

      - name: Install system dependencies
        run: sudo apt-get install -y gdal-bin sqlite3-tools

      - run: just bless

      # run pre-commit as a formatting tiebreaker
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - run: uvx pre-commit run --all-files

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
        with: {commit-message: "test: update blessed test snapshots across all components"}
