name: autofix.ci # See https://autofix.ci/security why this name

on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]

permissions: {}

jobs:
  fmt-toml:
    name: Format Cargo.toml
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: |
      github.event.action == 'opened' ||
      github.event.action == 'synchronize' ||
      github.event.action == 'reopened'
    steps:
      - name: Checkout sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: { persist-credentials: false }
      - uses: taiki-e/install-action@763e3324d4fd026c9bd284c504378585777a87d5 # v2.62.57
        with: { tool: 'just,cargo-sort' }
      - name: Format Cargo.toml
        run: just fmt-toml

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
        with: {commit-message: "chore: sort Cargo.toml"}
  bless:
    name: Bless test output
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: |
      github.event.action == 'labeled' &&
      github.event.label.name == 'bless'

    steps:
      - name: Checkout sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: { persist-credentials: false }
      - uses: BRAINSia/free-disk-space@7048ffbf50819342ac964ef3998a51c2564a8a75 # v2.1.3
        with:
          tool-cache: false
          mandb:   false
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: false
          swap-storage: true
      - name: Setup Rust
        run: rustup update stable && rustup default stable

      - name: Install just
        uses: taiki-e/install-action@cc33365ec7e3350bc47bf935f247582cc6f68344 # v2.65.12
        with:
          tool: just,cargo-binstall

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0

      - name: Install frontend dependencies
        run: npm clean-install --no-fund
        working-directory: martin/martin-ui

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y gdal-bin sqlite3-tools

      - run: just bless
        continue-on-error: true

      # run pre-commit as a formatting tiebreaker
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - run: uvx pre-commit run --all-files
        continue-on-error: true

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
        with: {commit-message: "chore: update blessed test snapshots across all components"}
