name: Benchmark

on:
  #  push:
  #    branches: [ main ]
  #    paths-ignore:
  #      - '**.md'
  #      - 'demo/**'
  #      - 'docs/**'
  #  pull_request:
  #    types: [ opened, synchronize, reopened ]
  #    paths-ignore:
  #      - '**.md'
  #      - 'demo/**'
  #      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check_benchmark:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { persist-credentials: false }

      - name: Check benchmark
        run: cargo bench
