name: Bless Test Output

on:
  pull_request:
    types: [labeled]

permissions:
  contents: write
  pull-requests: write

jobs:
  bless:
    name: Bless test output
    runs-on: ubuntu-latest
    if: contains(github.event.label.name, 'bless')
    
    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      
      - name: Setup Rust
        run: rustup update stable && rustup default stable
      
      - name: Install just
        uses: taiki-e/install-action@cc60de1d6831d7e9c4342f618ce7a5d6a9f223a4 # v2.61.6
        with:
          tool: just
      
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      
      - name: Install frontend dependencies
        run: npm install
        working-directory: martin/martin-ui
      
      - name: Setup PostGIS
        uses: nyurik/action-setup-postgis@228cfe4dd41aad01801a0bdc767040e5024fff1d # v2
        id: postgres
      - name: Setup NGINX
        uses: nyurik/action-setup-nginx@612ee9cb839ad727832cda16359452e7e14dd521 # v1.1
        id: nginx
      
      - name: Copy static test files
        run: cp -r tests/fixtures/pmtiles2/* ${{ steps.nginx.outputs.html-dir }}
      
      - name: Initialize database
        run: tests/fixtures/initdb.sh
        env:
          DATABASE_URL: ${{ steps.postgres.outputs.connection-uri }}
      
      - name: Install system dependencies
        run: sudo apt-get install -y gdal-bin sqlite3-tools
      
      - name: Debug environment
        run: |
          echo "User: $USER"
          echo "GitHub Actor: ${{ github.actor }}"
          echo "Database URL: ${{ steps.postgres.outputs.connection-uri }}"
      
      - name: Run just bless
        run: |
          echo "Running just bless..."
          just bless
        env:
          DATABASE_URL: ${{ steps.postgres.outputs.connection-uri }}
      
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
