name: Bless Test Output

on:
  pull_request:
    types: [labeled]

permissions:
  contents: write
  pull-requests: write

jobs:
  bless:
    name: Bless test output
    runs-on: ubuntu-latest
    if: contains(github.event.label.name, 'bless')

    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: BRAINSia/free-disk-space@f9f59b0ef974ff4b873aa243ce5278ab644eedc6 # v2.1.2
        with:
          tool-cache: false
          mandb:   true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: Setup Rust
        run: rustup update stable && rustup default stable

      - name: Install just
        uses: taiki-e/install-action@cc60de1d6831d7e9c4342f618ce7a5d6a9f223a4 # v2.61.6
        with:
          tool: just,cargo-binstall

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0

      - name: Install frontend dependencies
        run: npm install
        working-directory: martin/martin-ui

      - name: Install system dependencies
        run: sudo apt-get install -y gdal-bin sqlite3-tools

      - run: just bless

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
        with: {commit-message: "test: update blessed test snapshots across all components"}
