name: Documentation

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  build-docs:
    name: Build Docs
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with: { persist-credentials: false }
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: 'Validate .md files (use "just fmt-md" to fix)'
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
        with:
          config: '.github/files/config.markdownlint-cli2.jsonc'

      - name: 'Check Markdown URLs (same as "just clippy-md")'
        uses: tcort/github-action-markdown-link-check@e7c7a18363c842693fadde5d41a3bd3573a7a225 # v1.1.2
        with:
          use-quiet-mode: 'yes' # only of the checks that failed
          use-verbose-mode: 'yes' # show status codes
          folder-path: 'docs/src'
          file-path: './README.md'
          config-file: '.github/files/markdown.links.config.json'

      - uses: taiki-e/install-action@763e3324d4fd026c9bd284c504378585777a87d5 # v2.62.57
        with: { tool: 'mdbook,mdbook-tabs' }

      - run: mdbook build docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/book
