name: Code coverage

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'demo/**'
      - 'docs/**'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'demo/**'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      CARGO_TERM_COLOR: always
      AWS_SKIP_CREDENTIALS: 1
      AWS_REGION: eu-central-1
    steps:
      - run: rustup update stable && rustup default stable
      - uses: BRAINSia/free-disk-space@7048ffbf50819342ac964ef3998a51c2564a8a75 # v2.1.3
        with:
          tool-cache: false
          mandb:   true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: Checkout sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: { persist-credentials: false }
      - uses: taiki-e/install-action@763e3324d4fd026c9bd284c504378585777a87d5 # v2.62.57
        with: { tool: 'just,cargo-llvm-cov' }
      - name: Set up system dependencies
        run: sudo apt-get update && sudo apt-get install -y gdal-bin sqlite3-tools postgresql-client

      - name: Generate code coverage
        run: just coverage --codecov --output-path target/codecov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/codecov.info
          fail_ci_if_error: true
