name: Demo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - 'demo/**'
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  demo:
    name: Demo
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with: { persist-credentials: false }
      - uses: taiki-e/install-action@763e3324d4fd026c9bd284c504378585777a87d5 # v2.62.57
        with: { tool: just }
      - run: cd demo && just build
