name: Demo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - 'demo/**'
  release:
    types: [ published ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  demo:
    name: Demo
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { persist-credentials: false }
      - uses: taiki-e/install-action@763e3324d4fd026c9bd284c504378585777a87d5 # v2.62.57
        with: { tool: just }
      - run: cd demo && just build
