name: Demo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - 'demo/**'
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  demo:
    name: Demo
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout sources
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: taiki-e/install-action@cc60de1d6831d7e9c4342f618ce7a5d6a9f223a4 # v2.61.6
        with: { tool: just }
      - run: cd demo && just build
