name: Security audit

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:
  zizmor:
      runs-on: ubuntu-latest
      permissions:
        security-events: write
        contents: read
        actions: read
      steps:
        - name: Checkout repository
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
          with: { persist-credentials: false }
        - name: Run zizmor
          uses: zizmorcore/zizmor-action@135698455da5c3b3e55f73f4419e481ab68cdd95 # v0.4.1
  audit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      checks: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: { persist-credentials: false }
      - uses: rustsec/audit-check@69366f33c96575abad1ee0dba8212993eecbe998 # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignore: RUSTSEC-2023-0071,RUSTSEC-2024-0436,RUSTSEC-2025-0134,RUSTSEC-2026-0002,RUSTSEC-2026-0007
          # RUSTSEC-2023-0071 = Marvin Attack: potential key recovery through timing side channels => not used exploitably
          # RUSTSEC-2024-0436 = paste - no longer maintained
          # RUSTSEC-2025-0134 = rustls-pemfile is unmaintained, but only used in development dependencies
          # RUSTSEC-2026-0002 = unsound stack borrow in lru
          # RUSTSEC-2026-0007 = inter overflow in bytes
  dependency-review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: { persist-credentials: false }
      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          fail-on-severity: low
          license-check: false # incredibly high maintenance cost, also many false positives and not ability to ignore issues like "MIT/APACHE2" being used
          show-openssf-scorecard: true
          warn-on-openssf-scorecard-level: 5
      # actions/dependency-review-action does not find all licenses -> we use cargo-deny for this in addition to dependency-review-action
      - uses: EmbarkStudios/cargo-deny-action@3fd3802e88374d3fe9159b834c7714ec57d6c979 # v2.0.15
        with:
          command: check bans licenses sources
  codeql:
    name: CodeQL (${{ matrix.language }})
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write

      # required to fetch internal or private CodeQL packs
      packages: read

      # only required for workflows in private repositories
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        include:
        - language: actions
        - language: javascript-typescript
        - language: rust
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with: { persist-credentials: false }
    - name: Initialize CodeQL
      uses: github/codeql-action/init@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      with:
        languages: ${{ matrix.language }}
        build-mode: none
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      with:
        category: "/language:${{matrix.language}}"
