name: Security audit

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:
  zizmor:
      runs-on: ubuntu-latest
      permissions:
        security-events: write
        contents: read
        actions: read
      steps:
        - name: Checkout repository
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
          with: { persist-credentials: false }
        - name: Run zizmor
          uses: zizmorcore/zizmor-action@e639db99335bc9038abc0e066dfcd72e23d26fb4 # v0.3.0
  audit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      checks: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { persist-credentials: false }
      - uses: rustsec/audit-check@69366f33c96575abad1ee0dba8212993eecbe998 # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignore: RUSTSEC-2023-0071,RUSTSEC-2025-0111,RUSTSEC-2025-0134
          # RUSTSEC-2023-0071 = Marvin Attack: potential key recovery through timing sidechannels => not used exploitably
          # RUSTSEC-2025-0111 = tokio-tar parses PAX extended headers incorrectly, allows file smuggling => only used in testcontainer-rs, so not explitably
          # RUSTSEC-2025-0134 = rustls-pemfile is unmaintained, but only used in development dependencies
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: { persist-credentials: false }
      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          fail-on-severity: low
          allow-licenses: MIT,Apache-2.0,BSD-2-Clause,BSD-3-Clause,ISC,Zlib,CC0-1.0,Unlicense,Python-2.0,BSL-1.0
          show-openssf-scorecard: true
          warn-on-openssf-scorecard-level: 5
  codeql:
    name: CodeQL (${{ matrix.language }})
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write

      # required to fetch internal or private CodeQL packs
      packages: read

      # only required for workflows in private repositories
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        include:
        - language: actions
        - language: javascript-typescript
        - language: rust
    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with: { persist-credentials: false }
    - name: Initialize CodeQL
      uses: github/codeql-action/init@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      with:
        languages: ${{ matrix.language }}
        build-mode: none
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      with:
        category: "/language:${{matrix.language}}"
